* {
    box-sizing: border-box;
}

body {
    padding: 0;
}

.section-1 img {
    width: 100%;
    object-position: top;
    object-fit: cover;
    margin: 0%;
    padding: 0;
}

.col-8 p {
    font-size: 1.vw;
}

.green-bkgrd {
    background-image: url(./images/green-bkgrd.png);
    height: 25vw;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 10%;
    display: flex;
    align-items: center;
}

.coll {
    width: 50%;
}

.coll2 {
    width: 50%;
    margin-left: 10%;
    color: #1F6E3B;
    word-wrap: break-word;
}

.coll2 p {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 1.2vw;
}

.sitting {
    width: 100%;
    /* margin: auto; */
    /* bottom: 50%; */
}